.footer-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #fff; /* Changed to white background */
  color: #000; /* Changed to black text */
  padding: 20px;
  font-family: Arial, sans-serif;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Added box shadow */
  height: 20px;
  padding-bottom: 50px;
}

.footer-left {
  font-size: 14px;
}

.footer-left strong {
  font-weight: bold;
}

.footer-right {
  font-size: 14px;
}

.footer-list {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  gap: 15px;
}

.footer-list li {
  display: inline;
}

.footer-list li a {
  color: #00008b; /* Changed to black text for links */
  text-decoration: none;
  transition: color 0.3s;
}

.footer-list li a:hover {
  color: skyblue; /* Darker grey on hover */
}
