.nav-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #ffffff;
    z-index: 1000; /* Ensure the navigation bar stays on top of other content */

  }
  
  .left-section {
    display: flex;
    align-items: center;
  }
  
  .profile-image {
    width: 100px;
    height: auto;
    margin-right: 20px;
    margin-left: 100px;
  }
  
  .nav-name {
    font-size: 2em;
    color: #00008B; /* Set the color to dark blue */
  }
  
  .right-section {
    display: flex;
    align-items: center;
    margin-right: 250px;
    margin-right: 100px;
  }
  
  .nav-list {
    display: flex;
    list-style-type: none;
    padding: 0;
    margin: 0;
  }
  
  .nav-list li {
    margin-left: 20px;
  }
  
  .nav-list li a {
    text-decoration: none;
    color: #000;
    font-size: 1.2em;
  }
  
  .nav-list li a:hover {
    color: #007BFF;
  }
  

  
  /* Add your other CSS styles for the navigation bar */
  
  .contact-button {
    background-color: #00008B;
    color: #fff;
    border: none;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 5px;
    padding-bottom: 5px;
    margin-left: 20px;
    font-size: 17px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.3s;
    border-radius: 50px;
  }
  
  .contact-button:hover {
    background-color: #4aa3df;
    transform: scale(1.05);
  }
  